<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>操作日志</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div>
    <ul class="layui-nav">
        <li class="layui-nav-item"><a href="/imagesShow">图库</a></li>
        <li class="layui-nav-item"><a href="/users">用户</a></li>
        <li class="layui-nav-item"><a href="/imagesManager">图纸管理</a></li>
        <li class="layui-nav-item layui-this"><a href="/actionsLogs">操作日志</a></li>
        <li class="layui-nav-item" style="float: right">
            <a href="javascript:;"><span id="manager_name"></span></a>
            <dl class="layui-nav-child" style="z-index: 999">
                <dd><a id="logoutBtn">退出登录</a></dd>
            </dl>
        </li>
    </ul>
    <form class="layui-form" action="" style="padding: 0;width: 200px;margin-top: 10px">
        <div class="layui-form-item" style="margin-bottom: 0">
            <div class="layui-input-block" style="margin-left: 0">
                <select name="id" id="manager_names" lay-filter="manager_names">
                </select>
            </div>
        </div>
    </form>
    <table id="demo" lay-filter="test"></table>
</div>
<!-- 引入 layui.js 的 <script> 标签最好放置在 html 末尾 -->
<script src="/layui/layui.js"></script>
<script>
    layui.use(function () {
        const layer = layui.layer;
        const loadStart = layer.load();
        layui.$.ajax({
            url: '/isLogin', //提交接口
            type: 'get',
            data: {token: localStorage.getItem('token')},
            success: function (res) {
                layer.close(loadStart);
                const {user_type, manager_name, code, message} = res;
                if (code == 0) {
                    if (user_type == 2 || user_type == 3) window.location.href = '/imagesShow';
                    document.getElementById('manager_name').innerHTML = '<i class="layui-icon layui-icon-rate-solid"></i> ' + manager_name;
                    tableRender();
                } else {
                    condeMessage(code, message);
                }
            },
            error: function (mas, textStatus, errorThrown) {
                layer.msg('网络错误，请联系管理员');
                layer.close(loadStart);
            }
        });
        document.getElementById('logoutBtn').onclick = function () {
            layer.open({
                title: '',
                content: '确认退出登录吗？',
                yes: function (index) {
                    clearUserInfo();
                    layer.close(index);
                },
            });
        }
        layui.$.ajax({
            url: '/getUsers', //提交接口
            type: 'get',
            data: {token: localStorage.getItem('token'), page: 1, limit: 100},
            success: function (res) {
                const {data = []} = res;
                let select = document.getElementById('manager_names');
                const option = document.createElement("option");
                option.setAttribute("value", '');
                option.innerText = '全部';
                select.appendChild(option)
                for (const i in data) {
                    const option = document.createElement("option");
                    option.setAttribute("value", data[i].id);
                    option.innerText = data[i].manager_name;
                    select.appendChild(option)
                }
                layui.use('form', function () {
                    const form = layui.form;
                    form.render("select");
                });
            }
        });
        layui.form.on('select(manager_names)', function (data) {
            tableRender(data.value)
        });
    });

    const tableRender = function (manager_id) {
        const table = layui.table;
        table.render({
            elem: '#demo',
            url: '/getLogs',  //数据接口
            page: true, //开启分页
            defaultToolbar: [],
            where: {manager_id, token: localStorage.getItem('token')},
            cols: [[ //表头
                {field: 'id', title: 'ID', width: 80},
                {field: 'manager_name', title: '操作员', width: 120},
                {field: 'action_name', title: '行为', width: 100},
                {field: 'change_from', title: '分类', width: 100},
                {field: 'change_name', title: '名字'},
                {field: 'manage_time', title: '时间'},
            ]],
            done: function (res, page, count) {
                const {code, message} = res;
                if (code == 0) {
                    const $ = layui.$;
                    $("[data-field='manage_time']").children().each(function () {
                        const timeNumber = $(this).text() * 1;
                        const time = new Date(timeNumber).toLocaleString();
                        if (timeNumber > 100) $(this).text(time)
                    })
                }else {
                    condeMessage(code,message);
                }
            }
        });
    }

    const condeMessage = function (code, message) {
        if (code == 5) {
            layer.open({
                title: '',
                content: '用户登录已过期，请重新登录。',
                yes: function (index) {
                    clearUserInfo();
                },
            });
        }
        if (code == 3) {
            layer.open({
                title: '',
                content: message,
            });
        }
        if (code == 1) {
            layer.msg(JSON.stringify(message), {icon: code});
        }
    }
    const clearUserInfo = function () {
        localStorage.setItem('token', '');
        window.location.href = '/';
    }
</script>
</body>
</html>
