<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>申请管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div>
    <ul class="layui-nav">
        <li class="layui-nav-item"><a href="/imagesShow">图库</a></li>
        <li class="layui-nav-item"><a href="/imagesManager">图纸管理</a></li>
        <li class="layui-nav-item"><a href="/users">用户管理</a></li>
        <li class="layui-nav-item"><a href="/actionsLogs">操作日志</a></li>
        <li class="layui-nav-item  layui-this" id="applyList"><a href="/apply">申请<span
                        class="layui-badge layui-hide" id='applyListBadge'></span></a></li>
        <li class="layui-nav-item" style="float: right">
            <a href="javascript:;"><span id="manager_name"></span></a>
            <dl class="layui-nav-child" style="z-index: 999">
                <dd><a id="logoutBtn">退出登录</a></dd>
            </dl>
        </li>
    </ul>
    <table id="demo" lay-filter="test"></table>
</div>
<form class="layui-form" lay-filter="infoMadel" style="margin-top: 15px;margin-right: 15px;display: none" action=""
      id="infoMadelID">
    <div class="layui-form-item">
        <div class="layui-input-inline" style="width: 100%;margin-left: 10px">
            <select name="duration" lay-verify="required">
                <option value=2>2小时</option>
                <option value=4>8小时</option>
                <option value=12>12小时</option>
                <option value=48>2天</option>
                <option value=168>1周</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <div class="layui-input-inline" style="width: 100%;margin-left: 10px">
            <input type="text" name="id" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<!-- 引入 layui.js 的 <script> 标签最好放置在 html 末尾 -->
<script src="/layui/layui.js"></script>
<script type="text/html" id="barDemo">
    {{# if(d.is_agree == 2){ }}
    已同意
    {{# }else if(d.is_agree == 0 ) { }}
    已拒绝
    {{# }else if(d.is_agree == 1 ) { }}
    <a class="layui-btn layui-btn-xs" lay-event="agree">同意 <i class="layui-icon"></i></a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="refuse">拒绝</a>
    {{# } }}
</script>
<script>
    layui.$.ajaxSetup({cache: false})
    layui.use(function () {
        const layer = layui.layer;
        const loadStart = layer.load();
        layui.$.ajax({
            url: '/isLogin', //提交接口
            type: 'get',
            data: {token: localStorage.getItem('token')},
            success: function (res) {
                layer.close(loadStart);
                if (res.code == 0) {
                    if (res.user_type == 2 || res.user_type == 3) window.location.href = '/imagesShow';
                    document.getElementById('manager_name').innerHTML = '<i class="layui-icon layui-icon-rate-solid"></i> ' + res.manager_name;
                    if (res.un_read_count > 0) {
                        const applyListBadge = document.getElementById('applyListBadge');
                        applyListBadge.classList.remove('layui-hide');
                        applyListBadge.innerText = res.un_read_count;
                    }
                    tableRender();
                } else {
                    codeMessage(res.code, res.message);
                }
            },
            error: function (mas, textStatus, errorThrown) {
                layer.msg('网络错误，请联系管理员');
                layer.close(loadStart);
            }
        });
        document.getElementById('logoutBtn').onclick = function () {
            layer.open({
                title: '',
                content: '确认退出登录吗？',
                yes: function (index) {
                    clearUserInfo();
                    layer.close(index);
                },
            });
        }
    });

    const tableRender = function (manager_id) {
        const table = layui.table;
        table.render({
            elem: '#demo',
            url: '/getApply',  //数据接口
            page: true, //开启分页
            defaultToolbar: [],
            where: {manager_id: manager_id, token: localStorage.getItem('token')},
            cols: [[ //表头
                {field: 'id', title: 'ID', width: 80},
                {field: 'apply_name', title: '申请人', width: 120},
                {field: 'manager_name', title: '操作人员'},
                {field: 'apply_time', title: '申请时间'},
                {field: 'duration', title: '截至有效期'},
                {field: 'manage', fixed: 'right', title: '操作', width: 150, align: 'center', toolbar: '#barDemo'}
            ]],
            done: function (res, page, count) {
                if (res.code == 0) {
                    const $ = layui.$;
                    $("[data-field='apply_time']").children().each(function () {
                        const timeNumber = $(this).text() * 1;
                        const time = new Date(timeNumber).toLocaleString();
                        if (timeNumber > 100) $(this).text(time)
                    })
                    $("[data-field='duration']").children().each(function () {
                        const timeNumber = $(this).text() * 1;
                        const time = new Date(timeNumber).toLocaleString();
                        if (timeNumber > 100) $(this).text(time)
                    })
                } else {
                    codeMessage(res.code, res.message);
                }
            }
        });
        table.on('tool(test)', function (obj) {
            switch (obj.event) {
                case 'agree':
                    layer.open({
                        title: '选择有效时长',
                        type: 1,
                        content: layui.$('#infoMadelID') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    });
                    layui.form.val('infoMadel', {id: obj.data.id, duration: 2});
                    break;
                case 'refuse':
                    layer.confirm('确认拒绝' + obj.data.is_agree, {
                        btn: ['拒绝', '取消',] //可以无限个按钮
                    }, function (index) {
                        layui.$.ajax({
                            url: '/editApply', //提交接口
                            type: 'post',
                            data: {is_agree: 0, id: obj.data.id, token: localStorage.getItem('token')},
                            success: function (res) {
                                layer.close(index);
                                if (res.code == 0) {
                                    window.location.href = '';
                                } else {
                                    layer.close(index);
                                    codeMessage(res.code, res.message);
                                }
                            },
                            error: function (mas, textStatus, errorThrown) {
                                layer.msg('网络错误，请联系管理员');
                            }
                        });
                    });
                    break;
            }
        });
    }
    const form = layui.form;
    //监听提交
    form.on('submit(formDemo)', function (data) {
        const loadStart = layer.load();
        const field = data.field;
        layui.$.ajax({
            url: '/editApply', //提交接口
            type: 'post',
            data: {is_agree: 2, duration: field.duration, id: field.id, token: localStorage.getItem('token')},
            success: function (res) {
                layer.close(loadStart);
                if (res.code == 0) {
                    window.location.href = '';
                } else {
                    codeMessage(res.code, res.message);
                }
            },
            error: function (mas, textStatus, errorThrown) {
                layer.msg('网络错误，请联系管理员');
                layer.close(loadStart);
            }
        });
        return false;
    });
    const codeMessage = function (code, message) {
        if (code == 5) {
            layer.open({
                title: '',
                content: message,
                yes: function (index) {
                    clearUserInfo();
                },
            });
        } else if (code == 3) {
            layer.open({
                title: '',
                content: message,
            });
        } else if (code == 1) {
            layer.msg(JSON.stringify(message), {icon: code});
        } else {
            layer.open({
                title: 'CODE码是' + code,
                content: message,
                yes: function (index) {
                    layer.close(index)
                    clearUserInfo();
                },
                cancel: function (index) {
                    layer.close(index)
                    clearUserInfo();
                }
            });
        }
    }
    const clearUserInfo = function () {
        localStorage.setItem('token', '');
        window.location.href = '/';
    }
</script>
</body>
</html>
