<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>图纸列表展示</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div>
    <ul class="layui-nav">
        <li class="layui-nav-item layui-this"><a href="/imagesShow">图库</a></li>
        <li class="layui-nav-item " id="imageManager" style="display: none"><a href="/imagesManager">图纸管理</a></li>
        <li class="layui-nav-item " id="userManager" style="display: none"><a href="/users">用户管理</a></li>
        <li class="layui-nav-item " id="actionsLogs" style="display: none"><a href="/actionsLogs">操作日志</a></li>
        <li class="layui-nav-item" style="float: right">
            <a href="javascript:;"><span id="manager_name"></span></a>
            <dl class="layui-nav-child" style="z-index: 999">
                <dd><a href="javascript:" id="fixPasswordBtn">修改密码</a></dd>
                <dd><a href="javascript:" id="logoutBtn">退出登录</a></dd>
            </dl>
        </li>
    </ul>
    <form class="layui-form" action="" lay-filter="factory_names_add"
          style="padding: 0;width: 200px;margin-top: 10px;display: inline-block">
        <div class="layui-form-item" style="margin-bottom: 0">
            <div class="layui-input-block" style="margin-left: 0">
                <select name="from_factory_id" id="factory_names_add" lay-filter="factory_names_add">
                </select>
            </div>
        </div>
    </form>
    <form class="layui-form" action="" lay-filter="image_name_filter" style="width: 400px;float: right;padding-top: 8px;margin-bottom: -20px">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" name="image_name" required lay-verify="required" placeholder="请输入名称"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit lay-filter="formDemo">搜索</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <table id="demo" lay-filter="test" style="width: 100%"></table>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn layui-btn-xs" lay-event="edit">查看</a>
</script>
<!-- 引入 layui.js 的 <script> 标签最好放置在 html 末尾 -->
<script src="/layui/layui.js"></script>
<script>
    layui.use('form', function () {
        const form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            tableRender(data.field.image_name)
            return false;
        });
        form.on('select(factory_names_add)', function () {
            tableRender(form.val("image_name_filter").image_name);
        });
    });

    layui.use(function () {
        const layer = layui.layer;
        const loadStart = layer.load();
        layui.$.ajax({
            url: '/isLogin', //提交接口
            type: 'get',
            data: {token: localStorage.getItem('token')},
            success: function (res) {
                layer.close(loadStart);
                const {user_type, manager_name, from_factory_id, code, message} = res;
                if (code == 0) {
                    let star = '';
                    if (user_type === 1) {
                        document.getElementById('imageManager').style.display = 'inline-block';
                        document.getElementById('userManager').style.display = 'inline-block';
                        document.getElementById('actionsLogs').style.display = 'inline-block';
                        star = 'layui-icon-rate-solid';
                    } else if (user_type === 3) {
                        document.getElementById('imageManager').style.display = 'inline-block';
                        star = 'layui-icon-rate-half';
                    } else {
                        star = 'layui-icon-rate';
                    }
                    document.getElementById('manager_name').innerHTML = '<i class="layui-icon ' + star + '"></i> ' + manager_name;
                    getFactories(from_factory_id);
                } else {
                    condeMessage(code, message);
                }
            },
            error: function (mas, textStatus, errorThrown) {
                layer.msg('网络错误，请联系管理员');
                layer.close(loadStart);
            }
        });
        document.getElementById('logoutBtn').onclick = function () {
            layer.open({
                title: '',
                content: '确认推出登录吗？',
                yes: function (index) {
                    layer.close(index);
                    clearUserInfo();
                },
            });
        }
        document.getElementById('fixPasswordBtn').onclick = function () {
            layer.open({
                title: '修改密码',
                type: 1,
                content: layui.$('#infoMadelID') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
        }
        //监听提交
        layui.form.on('submit(formFixPassword)', function (data) {
            const {new_password, re_password} = data.field;
            console.log(data.field)
            if (re_password != new_password) {
                layer.msg('两次密码输入不一致，请清新输入', {icon: 0});
                return false;
            }
            const loadStart = layer.load();
            layui.$.ajax({
                url: '/editUser', //提交接口
                type: 'post',
                data: {...data.field, token: localStorage.getItem('token')},
                success: function (res) {
                    layer.close(loadStart);
                    const {code, message} = res;
                    if (code == 0) {
                        layer.msg(JSON.stringify(res.message), {icon: 0}, function () {
                            clearUserInfo();
                        });
                    } else {
                        condeMessage(code, message)
                    }
                },
                error: function (mas, textStatus, errorThrown) {
                    layer.close(loadStart);
                    layer.msg('网络错误，请联系管理员');
                }
            });
            return false;
        });
    });
    const getFactories = function (from_factory_id) {
        layui.$.ajax({
            url: '/getFactories', //提交接口
            type: 'get',
            data: {token: localStorage.getItem('token'), page: 1, limit: 100},
            success: function (res) {
                factories = res.data;
                let select1 = document.getElementById('factory_names_add');
                createSelect(select1);
                layui.form.val('factory_names_add', {from_factory_id});
                tableRender();
            }
        });
    }
    const createSelect = function (select) {
        for (const i in factories) {
            const option = document.createElement("option");
            option.setAttribute("value", factories[i].id);
            option.innerText = factories[i].from_factory;
            select.appendChild(option)
        }
        layui.use('form', function () {
            const form = layui.form;
            form.render("select");
        });
    }
    const tableRender = function (image_name) {
        const table = layui.table;
        const renderDir = {
            elem: '#demo'
            , url: '/getImages' //数据接口
            , page: true //开启分页
            , where: {image_name, ...layui.form.val("factory_names_add"), token: localStorage.getItem('token')}
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 80}
                , {field: 'image_name', title: '图片名称'}
                , {field: 'from_factory', title: '所属工厂'}
                , {field: 'up_time', title: '上传时间'}
                , {field: 'manager_name', title: '操作员', width: 80}
                , {fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo'}
            ]]
            , done: function (res, page, count) {
                const {code, message} = res;
                if (code == 0) {
                    const $ = layui.$;
                    $("[data-field='up_time']").children().each(function () {
                        const timeNumber = $(this).text() * 1;
                        const time = new Date(timeNumber).toLocaleString();
                        if (timeNumber > 100) $(this).text(time)
                    })
                } else {
                    condeMessage(code, message);
                }

            }
        };
        if (image_name) {
            renderDir.image_name = image_name;
        }
        //第一个实例
        table.render(renderDir);
        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            const {url} = obj.data
            window.open(url, '_blank');
        });
    }
    const condeMessage = function (code, message) {
        if (code == 5) {
            layer.open({
                title: '',
                content: message,
                yes: function (index) {
                    clearUserInfo();
                },
            });
        } else if (code == 3) {
            layer.open({
                title: '',
                content: message,
            });
        } else if (code == 1) {
            layer.msg(JSON.stringify(message), {icon: code});
        } else {
            layer.open({
                title: 'CODE码是' + code,
                content: message,
                yes: function (index) {
                    layer.close(index)
                    clearUserInfo();
                },
                cancel: function (index) {
                    layer.close(index)
                    clearUserInfo();
                }
            });
        }
    }
    const clearUserInfo = function () {
        localStorage.setItem('token', '');
        window.location.href = '/';
    }
</script>
<form class="layui-form" lay-filter="infoMadel" style="margin-top: 15px;margin-right: 15px;display: none" action=""
      id="infoMadelID">
    <div class="layui-form-item">
        <label class="layui-form-label">原密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入原密码"
                   autocomplete="off"
                   defaultValue="123456"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline">
            <input type="password" name="new_password" required lay-verify="required" placeholder="请输入新密码"
                   autocomplete="off"
                   defaultValue="123456"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline">
            <input type="password" name="re_password" required lay-verify="required" placeholder="请再次输入新密码"
                   autocomplete="off"
                   defaultValue="123456"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 100px">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formFixPassword">立即提交</button>
        </div>
    </div>
</form>
</body>
</html>
