<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>图片展示</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div>
    <ul class="layui-nav">
        <li class="layui-nav-item layui-this"><a href="/imagesShow">图库</a></li>
        <li class="layui-nav-item"><a href="/users">用户</a></li>
        <li class="layui-nav-item "><a href="/imagesManager">图片管理</a></li>
        <li class="layui-nav-item" style="float: right">
            <a href="javascript:;"><span id="username"></span></a>
            <dl class="layui-nav-child" style="z-index: 999">
                <dd><a href="javascript:" id="logoutBtn">退出登录</a></dd>
            </dl>
        </li>
    </ul>
    <form class="layui-form" action="" style="width: 400px;float: right;padding-top: 8px;margin-bottom: -20px">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" name="image_name" required lay-verify="required" placeholder="请输入名称"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit lay-filter="formDemo">搜索</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
    <table id="demo" lay-filter="test" style="width: 100%"></table>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn layui-btn-xs" lay-event="edit">查看</a>
</script>
<!-- 引入 layui.js 的 <script> 标签最好放置在 html 末尾 -->
<script src="/layui/layui.js"></script>
<script>
    layui.use('form', function () {
        const form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            tableRender(data.field.image_name)
            return false;
        });
    });
    layui.use(function () {
        const layer = layui.layer;
        // const loadStart = layer.load();
        // layui.$.ajax({
        //     url: '/isLogin', //提交接口
        //     type: 'get',
        //     data: {token: localStorage.getItem('token')},
        //     success: function (res) {
        //         layer.close(loadStart);
        //         if (res.code != 1) {
        //             layer.msg(JSON.stringify(res.message), {icon: res.code}, function () {
        //                 window.location.href = '/';
        //             });
        //         } else {
        //             // if (res.usertype == 2) window.location.href = '/images';
        //             // if (res.usertype == 2) document.getElementById('managerPage').style.display = 'none';
        //             document.getElementById('username').innerText = res.username;
        //         }
        //     },
        //     error: function (mas, textStatus, errorThrown) {
        //         layer.msg('网络错误，请联系管理员');
        //         layer.close(loadStart);
        //     }
        // });
        document.getElementById('logoutBtn').onclick = function () {
            layer.open({
                title: '',
                content: '确认推出登录吗？',
                yes: function (index) {
                    localStorage.setItem('token', '');
                    window.location.href = '/';
                    layer.close(index);
                },
            });
        }
    });
    layui.use('table', function () {
        tableRender();
    });
    const tableRender = function (image_name) {
        const table = layui.table;
        const renderDir = {
            elem: '#demo'
            , url: '/getImages' //数据接口
            , page: true //开启分页
            , where: {image_name}
            , cols: [[ //表头
                {field: 'id', title: 'ID'}
                , {field: 'image_name', title: '图片名称'}
                , {field: 'up_time', title: '上传时间'}
                , {field: 'managername', title: '操作员'}
                , {fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo'}
            ]]
        };
        if (image_name) {
            renderDir.image_name = image_name;
        }
        //第一个实例
        table.render(renderDir);
        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            const {url} = obj.data
            window.open(url, '_blank');
        });
    }
</script>
</body>
</html>
