<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>图纸管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div>
    <ul class="layui-nav">
        <li class="layui-nav-item"><a href="/imagesShow">图库</a></li>
        <li class="layui-nav-item layui-this" id="imageManager"><a href="/imagesManager">图纸管理</a></li>
        <li class="layui-nav-item" id="userManager" style="display: none"><a href="/users">用户管理</a></li>
        <li class="layui-nav-item" id="actionsLogs" style="display: none;"><a href="/actionsLogs">操作日志</a></li>
        <li class="layui-nav-item" style="float: right">
            <a href="javascript:;"><span id="manager_name"></span></a>
            <dl class="layui-nav-child" style="z-index: 999">
                <dd><a href="javascript:" id="logoutBtn">退出登录</a></dd>
                <dd><a href="/imagesUpload">多图纸上传</a></dd>
            </dl>
        </li>
    </ul>
    <button type="button" class="layui-btn" id="upLoadButton" style="margin: 8px 8px 0px 8px">
        <i class="layui-icon">&#xe67c;</i>上传图纸
    </button>
    <i style="font-size:12px;color: darkred;position: relative;top:12px;">* 上传的图纸的名字会自动屏蔽汉字和空格</i>
    <form class="layui-form" action="" style="width: 400px;float: right;padding-top: 8px;margin-bottom: -20px">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" name="image_name" required lay-verify="required" placeholder="请输入名称"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit lay-filter="formDemo">搜索</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
    <table id="demo" lay-filter="test" style="width: 100%"></table>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn layui-btn-xs" lay-event="edit">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 引入 layui.js 的 <script> 标签最好放置在 html 末尾 -->
<script src="/layui/layui.js"></script>
<script>
    layui.use('form', function () {
        const form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            tableRender(data.field.image_name)
            return false;
        });
    });
    layui.use(function () {
        const layer = layui.layer;
        const loadStart = layer.load();
        layui.$.ajax({
            url: '/isLogin', //提交接口
            type: 'get',
            data: {token: localStorage.getItem('token')},
            success: function (res) {
                layer.close(loadStart);
                const {code, user_type, manager_name, message} = res;
                if (code != 0) {
                    codeMessage(code, message)
                } else {
                    if (user_type == 2) window.location.href = '/imagesShow';
                    let star = 'layui-icon-rate-half';
                    if (user_type === 1) {
                        document.getElementById('userManager').style.display = 'inline-block';
                        document.getElementById('actionsLogs').style.display = 'inline-block';
                        star = 'layui-icon-rate-solid';
                    }
                    document.getElementById('manager_name').innerHTML = '<i class="layui-icon ' + star + '"></i> ' + manager_name;
                    tableRender();
                }
            },
            error: function (mas, textStatus, errorThrown) {
                layer.msg('网络错误，请联系管理员');
                layer.close(loadStart);
            }
        });
        document.getElementById('logoutBtn').onclick = function () {
            layer.open({
                title: '',
                content: '确认推出登录吗？',
                yes: function (index) {
                    clearUserInfo();
                    layer.close(index);
                },
            });
        }
    });
    layui.use('upload', function () {
        const upload = layui.upload;
        //执行实例
        upload.render({
            elem: '#upLoadButton' //绑定元素
            , url: '/upload' //上传接口
            , data: {token: localStorage.getItem('token')}
            , before: function () {
                layer.load();
            }
            , done: function (res) {
                //上传完毕回调
                const {code, message} = res;
                layer.closeAll('loading'); //关闭loading
                if (code == 0) {
                    window.location.href = '';
                } else {
                    codeMessage(code, '图纸' + '<span style="color: darkred">' + message + '</span>' + '已存在，请更改名字或删除源文件后上传');
                }
            }
            , error: function (err) {
                //请求异常回调
                layer.msg(JSON.stringify(err.message), {icon: 2});
                layer.closeAll('loading'); //关闭loading
            }
            , accept: 'file'
        });
    });
    const tableRender = function (image_name) {
        const table = layui.table;
        const renderDir = {
            elem: '#demo'
            , url: '/getImages' //数据接口
            , page: true //开启分页
            , where: {image_name, token: localStorage.getItem('token')}
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 80}
                , {field: 'image_name', title: '图片名称'}
                , {field: 'from_factory', title: '所属工厂'}
                , {field: 'up_time', title: '上传时间'}
                , {field: 'manager_name', title: '操作员', width: 80}
                , {fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo'}
            ]]
            , done: function (res, page, count) {
                const $ = layui.$;
                $("[data-field='up_time']").children().each(function () {
                    const timeNumber = $(this).text() * 1;
                    const time = new Date(timeNumber).toLocaleString();
                    if (timeNumber > 100) $(this).text(time)

                })
            }
        };
        if (image_name) {
            renderDir.image_name = image_name;
        }
        //第一个实例
        table.render(renderDir);
        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            const {url, id, image_name} = obj.data
            console.log(obj.event);
            if (obj.event == 'del') {
                const message = '真的删除图纸' + '<label style="color: darkred">' + image_name + '</label>' + '吗？';
                layer.confirm(message, function (index) {
                    const delLoading = layer.load(1);
                    layui.$.ajax({
                        url: '/delImage', //提交接口
                        type: 'post',
                        data: {del_id: id, image_name, token: localStorage.getItem('token')},
                        success: function (res) {
                            layer.close(delLoading);
                            layer.close(index);
                            if (res.code == 0) {
                                obj.del();
                            } else {
                                codeMessage(res.code, res.message)
                            }
                        },
                        error: function (mas, textStatus, errorThrown) {
                            layer.msg("请求失败");
                            layer.close(delLoading);
                            layer.close(index);
                        }
                    });
                });
            } else {
                window.open(url, '_blank');
            }
        });
    }
    const codeMessage = function (code, message) {
        if (code == 5) {
            layer.open({
                title: '',
                content: message,
                yes: function (index) {
                    clearUserInfo();
                },
            });
        } else if (code == 3) {
            layer.open({
                title: '',
                content: message,
            });
        } else if (code == 1) {
            layer.msg(JSON.stringify(message), {icon: code});
        } else {
            layer.open({
                title: 'CODE码是' + code,
                content: message,
                yes: function (index) {
                    layer.close(index)
                    clearUserInfo();
                },
                cancel: function (index) {
                    layer.close(index)
                    clearUserInfo();
                }
            });
        }
    }
    const clearUserInfo = function () {
        localStorage.setItem('token', '');
        window.location.href = '/';
    }
</script>
</body>
</html>
