<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>图片Bom</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div>
    <ul class="layui-nav">
        <li class="layui-nav-item "><a href="/imagesShow">图库</a></li>
        <li class="layui-nav-item layui-this" id="imageManager" style="display: none"><a
                    href="/imagesManager">图纸管理</a>
        </li>
        <li class="layui-nav-item " id="userManager" style="display: none"><a href="/users">用户管理</a></li>
        <li class="layui-nav-item " id="actionsLogs" style="display: none"><a href="/actionsLogs">操作日志</a></li>
        <li class="layui-nav-item " id="applyList" style="display: none"><a href="/apply">申请<span
                        class="layui-badge layui-hide" id='applyListBadge'></span></a></li>
        <li class="layui-nav-item" style="float: right">
            <a href="javascript:;"><span id="manager_name"></span></a>
            <dl class="layui-nav-child" style="z-index: 999">
                <dd><a href="javascript:" id="fixPasswordBtn">修改密码</a></dd>
                <dd><a href="javascript:" id="logoutBtn">退出登录</a></dd>
            </dl>
        </li>
    </ul>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container layui-inline">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" onclick="goBack()">
                <i class="layui-icon layui-icon-left"></i>返回
            </button>
        </div>
        <div class="layui-btn-container layui-inline">
            <button class="layui-btn layui-btn-sm" lay-event="add">添加子图</button>
        </div>
        图纸<span style="color: darkred;font-size: 18px" id="image_name_id"></span>的子图
        <div class="layui-btn-container layui-inline" style="float: right">
            <button class="layui-btn layui-btn-sm" lay-event="edit">编辑备注</button>
        </div>
    </script>
    <table id="demo" lay-filter="test" style="width: 100%"></table>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn layui-btn-xs" lay-event="edit">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">移除</a>
</script>
<script type="text/html" id="doThing">
    {{# if(d.do_thing){ }}
    {{ d.do_thing }} <a class="layui-btn layui-btn layui-btn-xs" lay-event="edit1">撤销</a>
    {{# }else{ }}
    {{# } }}
</script>
<!-- 引入 layui.js 的 <script> 标签最好放置在 html 末尾 -->
<script src="/layui/layui.js"></script>
<script>
    let user_type = 1, note = '', parent_image_name, sub_image_name;
    layui.$.ajaxSetup({cache: false})
    layui.use(function () {
        const layer = layui.layer;
        const loadStart = layer.load();
        layui.$.ajax({
            url: '/isLogin', //提交接口
            type: 'get',
            data: {token: localStorage.getItem('token')},
            success: function (res) {
                layer.close(loadStart);
                if (res.code == 0) {
                    let star = '';
                    user_type = res.user_type;
                    if (res.user_type === 1) {
                        document.getElementById('imageManager').style.display = 'inline-block';
                        document.getElementById('userManager').style.display = 'inline-block';
                        document.getElementById('actionsLogs').style.display = 'inline-block';
                        document.getElementById('applyList').style.display = 'inline-block'
                        if (res.un_read_count > 0) {
                            const applyListBadge = document.getElementById('applyListBadge');
                            applyListBadge.classList.remove('layui-hide');
                            applyListBadge.innerText = res.un_read_count;
                        }
                        star = 'layui-icon-rate-solid';
                    } else if (res.user_type === 3 || res.user_type === 4) {
                        document.getElementById('imageManager').style.display = 'inline-block';
                        star = 'layui-icon-rate-half';
                    } else {
                        star = 'layui-icon-rate';
                    }
                    document.getElementById('manager_name').innerHTML = '<i class="layui-icon ' + star + '"></i> ' + res.manager_name;
                    tableRender();
                    tableHeaderDescribe();
                } else {
                    codeMessage(res.code, res.message);
                }
            },
            error: function (mas, textStatus, errorThrown) {
                layer.msg('网络错误，请联系管理员');
                layer.close(loadStart);
            }
        });
        document.getElementById('logoutBtn').onclick = function () {
            layer.open({
                title: '',
                content: '确认推出登录吗？',
                yes: function (index) {
                    layer.close(index);
                    clearUserInfo();
                },
            });
        }
        document.getElementById('fixPasswordBtn').onclick = function () {
            layer.open({
                title: '修改密码',
                type: 1,
                content: layui.$('#infoMadelID') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
        }
        //监听提交
        layui.form.on('submit(formFixPassword)', function (data) {
            if (data.field.re_password != data.field.new_password) {
                layer.msg('两次密码输入不一致，请清新输入', {icon: 0});
                return false;
            }
            const loadStart = layer.load();
            layui.$.ajax({
                url: '/editUser', //提交接口
                type: 'post',
                data: {
                    password: data.field.password,
                    new_password: data.field.new_password,
                    token: localStorage.getItem('token')
                },
                success: function (res) {
                    layer.close(loadStart);
                    if (res.code == 0) {
                        layer.msg(JSON.stringify(res.message), {icon: 0}, function () {
                            clearUserInfo();
                        });
                    } else {
                        codeMessage(res.code, res.message)
                    }
                },
                error: function (mas, textStatus, errorThrown) {
                    layer.close(loadStart);
                    layer.msg('网络错误，请联系管理员');
                }
            });
            return false;
        });
    });

    const tableRender = function () {
        const table = layui.table;
        const renderDir = {
            elem: '#demo'
            , url: '/selectInfoFromParentID' //数据接口
            , page: true //开启分页
            , toolbar: '#toolbarDemo'
            , where: {token: localStorage.getItem('token'), id: getQueryString('id')}
            , cols: [[ //表头
                {
                    field: 'id', title: 'ID', width: 0, templet: function (d) {
                        return d.LAY_INDEX;
                    }
                }
                , {field: 'image_name', title: '子图名称'}
                , {field: 'from_factory', title: '所属模块'}
                , {field: 'up_time', title: '子图添加时间'}
                , {field: 'do_thing', title: '子图操作申请', toolbar: '#doThing'}
                , {field: 'manager_name', title: '操作员', width: 80}
                , {fixed: 'right', width: 180, align: 'center', toolbar: '#barDemo'}
            ]]
            , done: function (res, page, count) {
                if (res.code == 0) {
                    const $ = layui.$;
                    $("[data-field='up_time']").children().each(function () {
                        const timeNumber = $(this).text() * 1;
                        const time = new Date(timeNumber).toLocaleString();
                        if (timeNumber > 100) $(this).text(time)
                    })
                } else {
                    codeMessage(res.code, res.message);
                }
            }
        };
        table.render(renderDir);
        table.on('tool(test)', function (obj) {
            const {parent_id, image_id, url, image_name} = obj.data;
            if (obj.event == 'edit') {
                window.open(url, '_blank');
            } else if (obj.event == 'edit1') {
                const delLoading = layer.load(1);
                layui.$.ajax({
                    url: '/delSubImageApply', //提交接口
                    type: 'post',
                    data: {
                        parent_id,
                        image_id,
                        image_name,
                        token: localStorage.getItem('token'),
                        isApply: false
                    },
                    success: function (res) {
                        layer.close(delLoading);
                        if (res.code == 0) {
                            layer.msg(JSON.stringify(res.message), {icon: 1}, function () {
                                tableRender();
                                tableHeaderDescribe();
                            });
                        } else {
                            codeMessage(res.code, res.message)
                        }
                    },
                    error: function (mas, textStatus, errorThrown) {
                        layer.msg("请求失败");
                    }
                });
            } else {
                if (user_type == 1 || user_type == 3) {
                    const message = '真的要移除子图' + '<label style="color: darkred">' + image_name + '</label>' + '吗？';
                    layer.confirm(message, function (index) {
                        const delLoading = layer.load(1);
                        layui.$.ajax({
                            url: '/delSubImage', //提交接口
                            type: 'post',
                            data: {parent_id, image_id, token: localStorage.getItem('token')},
                            success: function (res) {
                                layer.close(delLoading);
                                layer.close(index);
                                if (res.code == 0) {
                                    obj.del();
                                } else {
                                    codeMessage(res.code, res.message)
                                }
                            },
                            error: function (mas, textStatus, errorThrown) {
                                layer.msg("请求失败");
                                layer.close(delLoading);
                                layer.close(index);
                            }
                        });
                    });
                } else {
                    const message = '提交移除子图' + '<label style="color: darkred">' + image_name + '</label>' + '申请';
                    layer.confirm(message, function (index) {
                        const delLoading = layer.load(1);
                        layui.$.ajax({
                            url: '/delSubImageApply', //提交接口
                            type: 'post',
                            data: {
                                parent_id,
                                image_id,
                                image_name,
                                token: localStorage.getItem('token'),
                                isApply: true
                            },
                            success: function (res) {
                                layer.close(delLoading);
                                layer.close(index);
                                if (res.code == 0) {
                                    layer.msg(JSON.stringify(res.message), {icon: 1}, function () {
                                        tableRender();
                                    });
                                } else {
                                    codeMessage(res.code, res.message)
                                }
                            },
                            error: function (mas, textStatus, errorThrown) {
                                layer.msg("请求失败");
                                layer.close(delLoading);
                                layer.close(index);
                            }
                        });
                    });
                }
            }
        });
        table.on('toolbar(test)', function (obj) {
            switch (obj.event) {
                case 'add':
                    layer.open({
                        title: '添加子图',
                        type: 1,
                        content: layui.$('#addModelID') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    });
                    layui.form.val('addModel', {});
                    break;
                case 'edit':
                    layer.open({
                        title: '编辑主图信息',
                        type: 1,
                        content: layui.$('#editModelID') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    });
                    layui.form.val('editModel', {note, open: null});
                    break
            }
        });
    }
    const tableHeaderDescribe = function () {
        layui.$.ajax({
            url: '/imageWithID', //数据接口
            type: 'get',
            data: {token: localStorage.getItem('token'), id: getQueryString('id')},
            success: function (res) {
                let str = res.note;
                if (!res.note) {
                    str = ''
                } else {
                    str = '(' + res.note + ')';
                }
                document.getElementById('image_name_id').innerText = res.image_name + str;
                note = res.note;
                parent_image_name = res.image_name;
            }
        });
    }

    const codeMessage = function (code, message, work) {
        if (code == 0) {
            layer.msg(JSON.stringify(message), {icon: 1});
        } else if (code == 5) {
            layer.open({
                title: '',
                content: message,
                yes: function (index) {
                    clearUserInfo();
                },
            });
        } else if (code == 3) {
            layer.open({
                title: '',
                content: message,
            });
        } else if (code == 1) {
            layer.msg(JSON.stringify(message), {icon: 2});
        } else {
            layer.open({
                title: 'CODE码是' + code,
                content: message,
                yes: function (index) {
                    layer.close(index)
                    clearUserInfo();
                },
                cancel: function (index) {
                    layer.close(index)
                    clearUserInfo();
                }
            });
        }
    }
    const clearUserInfo = function () {
        localStorage.setItem('token', '');
        window.location.href = '/';
    }

    function getQueryString(name) {
        let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        let r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        }
        ;
        return null;
    }

    const goBack = function () {
        history.go(-1);
    }
</script>
<form class="layui-form" lay-filter="infoMadel" style="margin-top: 15px;margin-right: 15px;display: none" action=""
      id="infoMadelID">
    <div class="layui-form-item">
        <label class="layui-form-label">原密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入原密码"
                   autocomplete="off"
                   defaultValue="123456"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline">
            <input type="password" name="new_password" required lay-verify="required" placeholder="请输入新密码"
                   autocomplete="off"
                   defaultValue="123456"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline">
            <input type="password" name="re_password" required lay-verify="required" placeholder="请再次输入新密码"
                   autocomplete="off"
                   defaultValue="123456"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 100px">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formFixPassword">立即提交</button>
        </div>
    </div>
</form>

<form class="layui-form" lay-filter="addModel"
      style="margin-top: 15px;margin-right: 15px;display: none" action=""
      id="addModelID">
    <div class="layui-form-item">
        <label class="layui-form-label">需添加图号</label>
        <div class="layui-input-block">
            <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input" id="inputid">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认图纸</label>
        <div class="layui-input-inline" style="width: auto">
            <select name="id" lay-verify="required" id="image_add_id" lay-filter="image_add"></select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="margin-top: 100px">
            <button class="layui-btn" lay-submit lay-filter="add_image_submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<form class="layui-form" lay-filter="editModel"
      style="margin-top: 15px;margin-right: 15px;display: none" action=""
      id="editModelID">
    <div class="layui-form-item">
        <label class="layui-form-label">备注信息</label>
        <div class="layui-input-block">
            <input type="text" name="note" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="margin-top: 100px">
            <button class="layui-btn" lay-submit lay-filter="edit_image_submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    let $ = layui.$;
    $(function () {
        //输入框的值改变时触发
        $("#inputid").on("input", function (e) {
            //获取input输入的值
            const image_name = e.delegateTarget.value;
            if (image_name.length >= 4) {
                $.ajax({
                    url: '/getImages', //提交接口
                    type: 'get',
                    data: {token: localStorage.getItem('token'), image_name: image_name, from_factory_id: ''},
                    success: function (res) {
                        if (res.code == 0) {
                            let select = document.getElementById('image_add_id');
                            createSelect(select, res.data);
                        } else {
                            codeMessage(res.code, res.message);
                        }
                    },
                    error: function (mas, textStatus, errorThrown) {
                        layer.msg('网络错误，请联系管理员');
                    }
                });
            }
        });
    });
    const createSelect = function (select, data) {
        select.options.length = 0;
        const option = document.createElement("option");
        select.appendChild(option)
        for (let i in data) {
            const option = document.createElement("option");
            option.setAttribute("value", data[i].id);
            option.innerText = data[i].image_name;
            select.appendChild(option)
        }
        layui.use('form', function () {
            const form = layui.form;
            form.render("select");
        });
    }
    layui.form.on('select(image_add)', function (data) {
        for (let i = 0; i < data.elem.length; i++) {
            const dict = data.elem[i];
            if (dict.value == data.value) {
                sub_image_name = dict.innerText;
            }
        }
    })
    //监听提交
    layui.form.on('submit(add_image_submit)', function (data) {
        const loadStart = layer.load();
        layui.$.ajax({
            url: '/addSubImage', //提交接口
            type: 'post',
            data: {
                parent_id: getQueryString('id'),
                image_id: data.field.id,
                parent_image_name,
                sub_image_name,
                token: localStorage.getItem('token')
            },
            success: function (res) {
                layer.close(loadStart);
                if (res.code == 0) {
                    // window.location.reload();
                } else {
                    codeMessage(res.code, res.message)
                }
            },
            error: function (mas, textStatus, errorThrown) {
                layer.close(loadStart);
                layer.msg('网络错误，请联系管理员');
            }
        });
        return false;
    });

    layui.form.on('submit(edit_image_submit)', function (data) {
        const loadStart = layer.load();
        layui.$.ajax({
            url: '/editImage', //提交接口
            type: 'post',
            data: {
                id: getQueryString('id'),
                image_name: image_name,
                note: data.field.note,
                token: localStorage.getItem('token')
            },
            success: function (res) {
                layer.close(loadStart);
                if (res.code == 0) {
                    layer.msg(JSON.stringify(res.message), {icon: 1}, function () {
                        window.location.reload();
                    });
                } else {
                    codeMessage(res.code, res.message)
                }
            },
            error: function (mas, textStatus, errorThrown) {
                layer.close(loadStart);
                layer.msg('网络错误，请联系管理员');
            }
        });
        return false;
    });
</script>
</body>
</html>
