<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312;no-cache">
    <meta name="GENERATOR" content="Microsoft FrontPage 4.0">
    <meta name="ProgId" content="FrontPage.Editor.Document">
    <title>
        dwg辅助控件
    </title>
</head>
<body topmargin="0" leftmargin="0">

<p align="center">
    <object classid="clsid:74A777F8-7A8F-4e7c-AF47-7074828086E2" id="MxDrawXCtrl"
            codebase="http://www.mxdraw.com/MxDrawX52.CAB#version=7.0.0.1" style="height: 90%;width: 100%">
        <param name="_Version" value="65536">
        <param name="_ExtentX" value="24262">
        <param name="_ExtentY" value="16219">
        <param name="_StockProps" value="0">
        <param name="DwgFilePath" value="<%= url %>">
        <param name="IsRuningAtIE" value="1">
        <param name="EnablePrintCmd" value="1">
        <param name="ShowStatusBar" value="1">
        <param name="ShowMenuBar" value="1">
        <param name="ShowToolBars" value="1">
        <param name="ShowCommandWindow" value="1">
        <param name="ShowModelBar" value="1">
        <param name="Iniset" value="AutoActive=N,LoadMrx=PropertyEditor">
        <param name="ToolBarFiles"
               value="MxDraw-ToolBar.mxt,MxDraw-ToolBar-DrawParam.mxt,MxDraw-ToolBar-Draw.mxt,MxDraw-ToolBar-Edit.mxt">
        <SPAN STYLE="color:red">不能装载CAD控件。请确认你可以连接网络或者检查浏览器的选项中安全设置。<a href="http://www.mxdraw.com/MxDrawX52.msi">http://www.mxdraw.com/MxDrawX52.msi 安载CAD控件</a></SPAN>
    </object>
    <script>
        function myclick() {

            //  下面的DoCommand(1)调用程序将跳到DoCommandEventFunc(iCmd)执行
            document.getElementById("MxDrawXCtrl").DoCommand(1);
        }

        function DoCommandEventFunc(iCmd) {
            if (iCmd == 1) {
                var mxOcx = document.all.item("MxDrawXCtrl");
                mxOcx.focus();
                var point1 = mxOcx.GetPoint(false, 0, 0, "\n 点取开始点:");
                if (point1 == null) {
                    return;
                }
                var point2 = mxOcx.GetPoint(true, point1.x, point1.y, "\n 点取结束点:");
                if (point1 == null) {
                    return;
                }
                // 直线的id
                var lineId = mxOcx.DrawLine(point1.x, point1.y, point2.x, point2.y);

                // 为新写的直线写一个字符串扩展数据
                var database = mxOcx.GetDatabase();
                var ent = database.ObjectIdToObject(lineId);
            }
        }

        document.getElementById("MxDrawXCtrl").ImplementCommandEventFun = DoCommandEventFunc;
    </script>
</p>
<SCRIPT language="JavaScript">
    document.oncontextmenu = new Function('event.returnValue=false;'); //禁用右键
    function LoadMxDrawX(id, dwgfile, cabpath, msipath) {
        var s, classid, Sys = {}, ua = navigator.userAgent.toLowerCase();
        (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] : (s = ua.match(/trident\/([\d.]+)/)) ? Sys.ie9 = s[1] : (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] : (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] : (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] : (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0,
            classid = "74A777F8-7A8F-4e7c-AF47-7074828086E2",

            Sys.ie || Sys.ie9 ? (document.write("<!-- 用来产生编辑状态的ActiveX控件的JS脚本-->   "),
                    document.write("<!-- 因为微软的ActiveX新机制，需要一个外部引入的js-->   "),
                    document.write('<object id="' + id + '" classid="clsid:' + classid + '" '),
                    //document.write('width="85%" height="85%" align="left">   '),
                    document.write('codebase=" ' + cabpath + 'width="85%" height="85%" align="left">   '),
                    document.write('<param name="_Version" value="65536">  '),
                    document.write('<param name="_ExtentX" value="24262">  '),
                    document.write('<param name="_ExtentY" value="16219">  '),
                    document.write('<param name="_StockProps" value="0">'),
                    document.write('<param name="DwgFilePath" value="' + dwgfile + '" > '),
                    document.write('<param name="IsRuningAtIE" value="1">'),
                    document.write('<param name="EnablePrintCmd" value="1">  '),
                    document.write('<param name="ShowCommandWindow" value="1">   '),
                    document.write('<param name="ShowToolBars" value="1">  '),
                    document.write('<param name="ShowModelBar" value="1">'),
                    document.write('<param name="Iniset" value="">  '),
                    document.write('<param name="ToolBarFiles" value="">'),
                    document.write('<param name="ShowMenuBar" value="1">'),
                    document.write('<param name="EnableUndo" value="1">'),
                    document.write('<param name="ShowPropertyWindow" value="1">'),
                    document.write('<SPAN STYLE="color:red">不能装载文档控件。请在检查浏览器的选项中检查浏览器的安全设置。请点击<a href=' + msipath + '>安装控件</a></SPAN>'),
                    document.write('</object>')) :

                Sys.chrome ? (document.write('<object id="' + id + '" clsid="{' + classid + '}" '),
                        document.write('type="application/mxdraw-activex" width="85%" height="85%" align="left"> '),
                        document.write('<param name="_Version" value="65536">  '),
                        document.write('<param name="_ExtentX" value="24262">  '),
                        document.write('<param name="_ExtentY" value="16219">  '),
                        document.write('<param name="_StockProps" value="0">'),
                        document.write('<param name="DwgFilePath" value="' + dwgfile + '" > '),
                        document.write('<param name="IsRuningAtIE" value="1">'),
                        document.write('<param name="EnablePrintCmd" value="1">  '),
                        document.write('<param name="ShowCommandWindow" value="1">   '),
                        document.write('<param name="ShowToolBars" value="1">  '),
                        document.write('<param name="ShowModelBar" value="1">'),
                        document.write('<param name="Iniset" value="">  '),
                        document.write('<param name="ToolBarFiles" value="">'),
                        document.write('<param name="ShowMenuBar" value="1">'),
                        document.write('<param name="EnableUndo" value="1">'),
                        document.write('<param name="ShowPropertyWindow" value="1">'),
                        document.write('<param name="Event_ImplementCommandEvent" value="DoCommandEventFunc">'),
                        document.write('<SPAN STYLE="color:red">不能装载文档控件,谷歌浏览器使用,下载MxChrome安装包到本地，安装后点击桌面 Chrome企业版 快捷方式启动。请点击<a href=' + msipath + '>安装控件</a></SPAN>'),
                        document.write('</object>')) :

                    Sys.firefox ? (document.write("<!-- 需要安装ieTab插件才能使用-->   "),
                                document.write("<!-- 右键弹出菜单，点击使用ieTab浏览> -->  "),

                                document.write('<div class="no_title">  不能装载文档控件。1.请在安装ieTab插件，2.然后请点击<a href=' + msipath + '>安装控件</a>, 3.然后右键弹出菜单，点击使用ieTab浏览 </div> ')

                        ) :
                        Sys.opera ? alert("sorry,ntko 暂时不支持opera!") :
                            Sys.safari && alert("sorry,ntko 暂时不支持safari!");
    }


    function isFireFox() {
        var s, classid, Sys = {}, ua = navigator.userAgent.toLowerCase();
        (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] : (s = ua.match(/trident\/([\d.]+)/)) ? Sys.ie9 = s[1] : (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] : (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] : (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] : (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;

        return Sys.firefox;

    }
</SCRIPT>
</body>
</html>